@page "/Admin/Role/"
@using DACS_DAMH.Areas.Admin.Pages.Role

@model IndexModel


<h2>ROLES</h2>

<partial name="_StatusMessage" model="@Model.StatusMessage" />
<form method="POST" class="my-1 d-inline">
    <button class="btn btn-secondary" asp-page="./Add"
            asp-page-handler="StartNewRole">
        New Role
    </button>
</form>
<a class="btn btn-secondary" asp-page="./User">Assign permissions to users</a>

<table class="table">
    <tr>
        <th>Role ID</th>
        <th>Name</th>
        <th>Actions</th>
    </tr>
    @foreach (var role in @Model.roles)
    {
        <tr>
            <td>@role.Id</td>
            <td>
                @role.Name
            </td>
            <td>
                <form method="POST" class="d-inline">
                    <button name="Input.ID" value="@role.Id" class="btn btn-success btn-sm"
                            asp-page="./Add" asp-page-handler="StartUpdate">
                        Update Role
                    </button>
                </form>
                @* <form method="POST" class="d-inline">
                    <button name="Input.ID" value="@role.Id" class="btn btn-success btn-sm"
                            asp-area="Admin" asp-page="/RoleClaims/Index">
                        Claims
                    </button>
                </form> *@
                <form method="POST" class="d-inline">
                    <button name="Input.ID" value="@role.Id" class="btn btn-success btn-sm"
                            asp-page="./Delete">
                        Delete Role
                    </button>
                </form>
            </td>
        </tr>
    }
</table>
