@using System.Globalization

@model IEnumerable<DACS_DAMH.Models.Product>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Employer/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid text-center text-white p-3 rounded">
    <h2>Products</h2>
</div>
<p>
    <a asp-action="Add">Create New</a>
</p>
<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Description</th>
            <th>Cate</th>
            <th>Image</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.Price.ToString("C", new CultureInfo("vi-VN"))</td>
                <td>@product.Description</td>
                <td>@Html.DisplayFor(modelItem => product.Category.Name) </td>
                <td><img src="@product.ImageUrl" alt="Product Image" class="img-fluid" style="max-width:200px;" id="previewImage" /></td>
                <td>
                    <a asp-action="Details" asp-route-id="@product.Id">Details</a> |
                    <a asp-action="Update" asp-route-id="@product.Id">Edit</a> |
                </td>
            </tr>
        }
    </tbody>
</table>
        