@model IEnumerable<DACS_DAMH.Models.Product>
@{
    ViewData["Title"] = "NavMenu";
    int numOfQuatity = 1;
}

<section class="menu_home">
    <div class="container" style="padding-top : 25px">
        <div class="row">
            <div class="clearfix"></div>
            <div class="menu_list_home flex_wrap display_flex">               
                @foreach (var item in Model)
                {
                    <div class="menu_item">
                        <div class="menu_item_image">
                            <a href="#" title="@Html.DisplayFor(modelItem => item.Name)"><img class=" ls-is-cached lazyloaded" src="@item.ImageUrl" alt="jpg"></a>
                            <ul class="labels">
                            </ul>

                        </div>
                        <div class="menu_item_info">
                            <h3><a href="#" title="@Html.DisplayFor(modelItem => item.Name)">@Html.DisplayFor(modelItem => item.Name)</a></h3>
                            <div class="price_product_item">@item.Price.ToString("#,##0") Vnđ</div>
                        </div>

                        <a asp-controller="ShoppingCart" asp-action="AddToCart" asp-route-productId="@item.Id" asp-route-quantity="@numOfQuatity">
                            <button class="btn btn-outline-dark">
                                <i class="bi-cart-fill me-1"></i> Add to Cart
                            </button>
                        </a>

                        <a asp-controller="Product" asp-action="Details" asp-route-id="@item.Id">
                            <button class="btn btn-outline-dark">
                                <i class="bi-cart-fill me-1"></i> Details
                            </button>
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>
</section>