@model IEnumerable<DACS_DAMH.Models.CategoryProducts>
@{
    ViewData["Title"] = "NavMenu";

    Layout = "_Layout2";
}

<section class="menu_home">
    <div class="container" style="padding-top : 25px">
        <div class="row">
            @foreach (var categoryGroup in Model)
            {
                <h1 style="color:black;padding-bottom:10px">@categoryGroup.CategoryName</h1>

                <div class="menu_list_home flex_wrap display_flex">
                    @foreach (var item in categoryGroup.Products)
                    {
                        <div class="menu_item">
                            <div class="menu_item_image">
                                <a asp-controller="Product" asp-action="Details" asp-route-id="@item.Id" title="@Html.DisplayFor(modelItem => item.Name)">
                                    <img class="ls-is-cached lazyloaded" src="@item.ImageUrl" alt="@item.Name">
                                </a>
                                <ul class="labels">
                                </ul>
                            </div>
                            <div class="menu_item_info">
                                <div class="row">
                                    <div class="col-sm">
                                        <h3>
                                            <a asp-controller="Product" asp-action="Details" asp-route-id="@item.Id" title="@Html.DisplayFor(modelItem => item.Name)">
                                                @Html.DisplayFor(modelItem => item.Name)
                                            </a>
                                        </h3>
                                        <div class="price_product_item" style="color:red">@item.Price.ToString("#,##0") đ</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            }

        </div>
    </div>
</section>