
@model IEnumerable<DACS_DAMH.Models.Product>
@{
    ViewData["Title"] = "Index";
}

<h2>Danh sách sản phẩm</h2>

<p>
    <a class="btn btn-primary btn-sm" asp-action="Add">Tạo mới</a>
</p>
<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>Tên sản phẩm</th>
            <th>Giá</th>
            <th>Mô tả</th>
            <th>Loại</th>
            <th>Hình ảnh</th>
            <th>Tác vụ</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.Price.ToString("#,0 đ", new CultureInfo("vi-VN"))</td>
                <td>@product.Description</td>
                <td>@Html.DisplayFor(modelItem => product.Category.Name) </td>
                <td><img src="@product.ImageUrl" alt="Product Image" class="img-fluid" style="max-width:200px;" id="previewImage" /></td>
                <td>
                    <a class="btn btn-primary btn-sm" asp-action="Details" asp-route-id="@product.Id">Chi tiết</a>
                    <a class="btn btn-success btn-sm" asp-action="Update" asp-route-id="@product.Id">Cập nhật</a>
                    <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@product.Id">Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>
        