@model IEnumerable<DACS_DAMH.Models.Discount>

@{
    ViewData["Title"] = "Index";

}

<div class="container-fluid text-center text-white p-3 rounded">
    <h2>Discount</h2>
</div>
<p>
    <a asp-action="Add">Create New</a>
</p>
<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Code</th>
            <th>Percentage</th>
            <th>Expdate</th>
            <th>Remain</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdDiscount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Percentage)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Expdate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Remain)
                </td>
                <td>
                    <a asp-action="Update" asp-route-id="@item.IdDiscount">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdDiscount">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
